@import '@sass/base/typography.base.scss';

.text {
  font-family: $font-sans;
  text-decoration: none;
  color: map-get($typography-colors, 'black');
  font-size: $size-xs;

  @media screen and (min-width: 768px) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  text-decoration: none;
}
