@import '../../App.scss';

.text {
  font-family: $font-sans;
  text-decoration: none;
  color: $neutral-black;
  font-size: 14px;
}

.button {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .text:hover {
    text-decoration: underline;
  }
}
