@import '@sass/base/typography.base.scss';
@import '@sass/themes/theme.themes.scss';
@import '@sass/base/alerts.base.scss';
@import '@sass/abstract/mixins.abstract.scss';

.login__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;

  @media (min-width: 768px) {
    max-width: 768px;
    margin: 0 auto;
    padding: 60px 0;
  }
}

.pwd__container {
  position: relative;
  width: 100%;
}

.hide-show {
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
}

.login__title {
  @include subtitle;
  margin-bottom: 1rem;
}
.form__container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.input__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  label {
    @include paragraph;
  }

  .input-box {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid map-get($map: $typography-colors, $key: 'gray');
    border-radius: 5px;

    &:hover {
      background-color: theme-color('background', 'lighter');
    }
  }
}

.bottom__section {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .remember__container {
    width: 135px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    label {
      @include paragraph;
    }
  }

  .forgot__container p {
    cursor: pointer;
    @include paragraph;

    &:hover {
      border-bottom: 1px solid theme-color('primary', 'light');
    }
  }
}

.account__container-register {
  display: flex;
  gap: 5px;

  .link__container p {
    cursor: pointer;
    color: map-get($map: $typography-colors, $key: 'blue');
  }
}

.login__button {
  width: 100px;
  border-radius: 5px;
}
