@import '@sass/base/typography.base.scss';
@import '@sass/themes/theme.themes.scss';

.container-info {
  background-color: theme-color('background', 'dark');
  color: map-get($typography-colors, 'white');
  font-family: $font-poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1rem;
}

.main-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info__emergencies-container,
.info__options-container,
.info__languages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__options-container {
  justify-content: space-around;
}

.info__emergencies-container {
  flex-direction: column;
  gap: 5px;
}

.info-icon-phone-emergency,
.info-icon-voice,
.info-icon-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__emergencies,
.info__patients,
.info__phone {
  display: flex;
  gap: 5px;
}

.info__languages-select {
  width: 70px;
  background: none;
  color: map-get($typography-colors, 'white');
  font-size: $size-xxs;
  border: none;
  outline: none;
}

.info-icon-languages {
  display: flex;
}

.info-paragraph-emergency,
.info__paragraph-patients,
.info__paragraph-phone {
  font-size: $size-xxs;
  margin: 0;
}

@media screen and (min-width: 400px) {
  .info__emergencies-container,
  .info__options-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .container-info {
    gap: 10px;
  }
}

@media screen and (min-width: 700px) {
  .main-info-container {
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between;
  }

  .info__options-container {
    justify-content: flex-end;
    gap: 10px;
  }

  .info__emergencies-container,
  .info__options-container {
    justify-content: flex-start;
    gap: 10px;
  }

  .info__options-container {
    justify-content: flex-end;
  }

  .line {
    height: 80%;
    border-left: 1px solid rgba(63, 182, 214, 0.95);
  }
}
