@import '@sass/abstract/mixins.abstract.scss';
@import '@sass/base/typography.base.scss';
@import '@sass/base/alerts.base.scss';

.checkout__products-container {
  max-width: 1000px;
  margin: 0 auto;

  .empty-cart-container {
    width: 500px;
    margin: 0 auto;
  }

  .empty-cart__text {
    width: 500px;
    @include paragraph();
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    background-color: alert-color($key: 'danger', $variant: 'base');
    margin-bottom: 3rem;
  }

  .products-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
    margin: 1rem auto;
    padding: 1rem;
    @media screen and (min-width: 900px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .products-list__title,
  .appointments-list__title {
    @include heading($color: map-get($typography-colors, 'black'), $size: $size-lg);
    margin-right: auto;
  }

  .appointments-list__title {
    margin-top: 2rem;
  }

  .link-container {
    width: 100%;
    display: flex;
  }

  .total {
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
  }
}

.spinner-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
