@import '@sass/base/typography.base.scss';
@import '@sass/themes/theme.themes.scss';

.news-letter {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.news-letter-container {
  width: 100%;
  margin: 0 auto;
}

.news-letter__title {
  font-size: $size-md;
  margin-top: 2rem;
}
.news-letter__paragraph {
  font-size: $size-xxs;
  max-width: 320px;
  line-height: 25px;
}

.news-letter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.news-letter-form__input-email {
  background-color: theme-color('background', 'dark');
  border: none;
  outline: none;
  color: map-get($typography-colors, 'white');
  caret-color: map-get($typography-colors, 'white');
}

.news-letter-form__input-email::placeholder {
  color: map-get($typography-colors, 'white');
  font-size: $size-xs;
}

.news-letter-form__button {
  background-color: theme-color('background', 'dark');
  border: none;
}

.socials {
  margin-top: 2rem;
}

.socials__ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

@media screen and (min-width: 700px) {
  .socials__ul {
    justify-content: center;
    gap: 20px;
  }

  .socials__li {
    cursor: pointer;
  }

  .news-letter-container {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .news-letter-container {
    width: 25%;
  }
}
