@import '@sass/base/typography.base.scss';
@import '@sass/base/alerts.base.scss';

.appointment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: alert-color('regular', 'dark');
  padding: 0.8rem 1rem;
  color: map-get($typography-colors, 'white');
  font-family: $font-sans;
}

.appointment-button__text {
  margin: 0;
  font-size: $size-xs;
  font-weight: weight-typo('sans', 'bold');
}

.appointment-button__icon {
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 992px) {
  .appointment-button {
    cursor: pointer;
  }
}
