@import '@sass/abstract/mixins.abstract.scss';
@import '@sass/base/typography.base.scss';

.error-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error-image-container__image {
    width: 100%;
  }

  .error-container__title {
    @include subtitle($color: map-get($typography-colors, 'black'), $size: $size-sm);
  }
  .error-container__ul {
    list-style: none;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.365);
    border-radius: 10px;
    padding: 1rem;
  }
}
