.terms-conditions-container {
  line-height: 35px;
  text-align: justify;
}
.terms-conditions-container__ul {
  margin-left: 2.5rem;
}

.terms-conditions-container__subtitle {
  font-weight: 800;
  margin-top: 1rem;
}
