@import '@sass/abstract/variables.abstract.scss';
@import '@sass/base/typography.base.scss';
@import '@sass/themes/theme.themes.scss';
@import '@sass/abstract/mixins.abstract.scss';

.whoWeAre-achievements {
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-top: 6rem;
  }
}

.whoWeAre-achievements__ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $font-poppins;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  .whoWeAre-achievements__li {
    width: 35%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: theme-color('background', 'base');
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
    }
  }

  .whoWeAre-achievements-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
    @media screen and (min-width: 768px) {
      align-items: flex-start;
    }
  }

  .whoWeAre-achievements-info__quantity {
    @include subtitle;
  }
  .whoWeAre-achievements-info__achievement {
    @include paragraph;
    line-height: 20px;
  }
}
