.select-quantity-container {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.buttonQuantity {
  border: solid #000000 1px;
  padding: 0.4rem;

  @media screen and (min-width: 700px) {
    cursor: pointer;
  }
}
