@import '../../../../sass/abstract/variables.abstract.scss';

.welcome-container {
  width: 100vw;
  background-image: url('../../../../assets/background-welcome-home.jpeg');
  background-position: center;
  background-size: cover;
  position: relative;

  @media screen and (min-width: 700px) {
    background-image: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.welcome-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 700px) {
    width: 1000px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.welcome-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 3rem;
  gap: 1.5rem;
  font-family: $font-poppins;

  @media screen and (min-width: 700px) {
    width: 50%;
  }

  .welcome-info__title {
    color: $primary-color-scooter;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
  }
  .welcome-info__subtitle {
    margin: 0;
    color: $neutral-white;
    font-size: 23px;

    @media screen and (min-width: 700px) {
      font-size: 30px;
    }
  }

  .welcome-info__paragraph {
    margin: 0;
    color: $neutral-white;
    line-height: 30px;
    font-size: 15px;
  }
}

.icons-container {
  display: flex;
  gap: 1.5rem;
}

.ambulance-icon__wrap,
.first-care-icon__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ambulance-icon,
.first-care-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: $primary-color-scooter;
}

.ambulance-message,
.first-care-message {
  color: $neutral-white;
  font-size: 12px;
}
