@import '../../../../App.scss';

.welcome-container {
  width: 100vw;
  background-image: url('../../../../assets/background-welcome-home.jpeg');
  background-position: center;
  background-size: cover;
  position: relative;

  @media screen and (min-width: 700px) {
    background-image: none;
    background-color: black;
  }
}

.welcome-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 700px) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.welcome-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 3rem;
  gap: 1.5rem;
  font-family: $font-poppins;
}

.welcome-info__title {
  color: $primary-color-scooter;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.welcome-info__subtitle {
  margin: 0;
  color: $neutral-white;
  font-size: 23px;
}

.welcome-info__paragraph {
  margin: 0;
  color: $neutral-white;
  line-height: 30px;
  font-size: 15px;
}

.icons-container {
  display: flex;
  gap: 1.5rem;
}

.ambulance-icon__wrap,
.first-care-icon__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ambulance-icon,
.first-care-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: $primary-color-scooter;
}

.ambulance-message,
.first-care-message {
  color: $neutral-white;
  font-size: 12px;
}

.welcome-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  padding: 2rem 3.5rem;
  background-color: $neutral-black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  @media screen and (min-width: 525px) {
    border-radius: 20px;
  }

  .welcome-form__title {
    font-family: $font-poppins;
    color: $neutral-white;
    font-size: 23px;
    margin: 0;
    margin-top: 1rem;
  }

  .welcome-form__paragraph {
    font-family: $font-poppins;
    color: $neutral-white;
    font-size: 15px;
    margin: 0;
  }

  .welcome-form-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }

  .welcome-form__input-name,
  .welcome-form__input-message,
  .welcome-form__input-email,
  .welcome-form__input-date {
    background-color: $neutral-black;
    outline: none;
    padding: 0.5rem;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    caret-color: $neutral-white;
    color: $neutral-white;
    font-family: $font-poppins;
    font-size: 12px;

    &::placeholder {
      color: $neutral-white;
      font-family: $font-poppins;
      font-size: 12px;
    }
  }
  .welcome-form__input-date {
    display: none;
    color-scheme: dark;

    @media screen and (min-width: 700px) {
      display: block;
    }
  }

  .welcome-form__select-department-container,
  .welcome-form__select-doctor-container {
    border: 1px rgba(255, 255, 255, 0.3) solid;
    padding: 0.5rem;

    .welcome-form__select-department,
    .welcome-form__select-doctor {
      width: 100%;
      background-color: $neutral-black;
      border: none;
      color: $neutral-white;
      font-family: $font-poppins;
      font-size: 12px;
      outline: none;
    }
  }

  .welcome-form__button-submit {
    background-color: rgb(63, 181, 214);
    border: none;
    font-family: $font-poppins;
    padding: 0.8rem;
    border-radius: 10px;
    font-size: 14px;
    color: $neutral-white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    .arrow-button {
      display: inline-flex;
      align-items: center;
    }
  }
}
