@import '@sass/abstract/variables.abstract.scss';
@import '@sass/themes/theme.themes.scss';

.video {
  width: 100%;
  height: 400px;
  background-color: theme-color('background', 'light');
}

video {
  object-fit: cover;
  width: 100%;
  height: 100% !important;
}
