@import '@sass/abstract/variables.abstract.scss';

.icon {
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
}

.sm {
  padding: 0.5rem;
}

.md {
  padding: 1rem;
}

.lg {
  padding: 1.5rem;
}

.regular {
  background-color: $icon-regular;
}

.danger {
  background-color: $icon-danger;
}

.success {
  background-color: $icon-success;
}

.warning {
  background-color: $icon-warning;
}

.info {
  background-color: $icon-info;
}
