.header {
  width: 100%;
}

.navigation-desktop {
  display: none;
}

@media screen and (min-width: 700px) {
  .navigation-desktop {
    display: block;
  }
  .navigation-mobile {
    display: none;
  }
}
