.about__title {
  font-size: 18px;
  margin-top: 2rem;
}

.about__paragraph {
  font-size: 12px;
  /* max-width: 280px; */
  line-height: 25px;
}

.about__ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__li {
  display: flex;
  gap: 10px;
}

.about__text {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
}

.about__icons {
  color: rgba(63, 182, 214);
}

@media screen and (min-width: 400px) {
  .about__ul {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
