@import '@sass/base/typography.base.scss';
@import '@sass/themes/theme.themes.scss';
@import '@sass/base/alerts.base.scss';
@import '@sass/abstract/mixins.abstract.scss';

.userProfile__background {
  background-color: theme-color('background', 'lighter');
  display: grid;
  place-items: center;
  padding: 50px 0;
}

.userProfile__card {
  width: 280px;
  height: 100%;
  background-color: theme-color('background', 'base');
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  @media (min-width: 768px) {
    flex-direction: row;
    width: 700px;
  }
}

.edit__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.userProfile__image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;

  .avatar__image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid theme-color('accent', 'base');
  }
}

.profile__main-info {
  text-align: center;
  margin-bottom: 1rem;

  .nationality__container {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  & p:nth-child(1) {
    @include paragraph($size-md);
    font-weight: 600;
  }
  & p:nth-child(2) {
    @include paragraph($size-sm);
    font-weight: 200;
  }
}

.profile__info-container {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .second__info,
  .dataOn {
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-bottom: 1px solid theme-color('accent', 'light');
  }
}

.icons {
  color: theme-color('accent', 'base');
}
.edit__icon {
  cursor: pointer;
}

.editOn {
  display: flex;
  flex-direction: column;
}
.editOff {
  display: none;
}
.edit__input {
  background-color: #f9f9f9;
  border-bottom: 1px solid theme-color('accent', 'dark');
  padding-left: 5px;
  &::placeholder {
    color: #000000;
  }
}

.save__button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.cancel__button {
  width: 100%;
}

#dataOff {
  display: none;
}
#dataOn {
  display: flex;
}

.appointments__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px dotted theme-color('accent', 'base');
  text-align: center;
  p {
    @include paragraph;
  }

  @media (min-width: 768px) {
    height: 100%;
    margin-top: 0;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px dotted theme-color('accent', 'base');
    border-top: none;
    align-self: flex-start;
  }
}

.appointments-none {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.accordion__container {
  width: 180px;

  @media (min-width: 768px) {
    width: 300px;
  }
}

.accordion__description {
  text-align: left;
}

.avatar__label {
  @include paragraph;
}
.avatar__input {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  margin: 10px 0;
}

.paragraph {
  @include paragraph();
  font-size: $size-xxs;
  font-weight: 400;
}
