@import '@sass/themes/theme.themes.scss';
@import '@sass/base/typography.base.scss';
@import '@sass/abstract/mixins.abstract.scss';

.testimonials__container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: theme-color('background', 'lighter');
  padding: 3rem 0 1rem 0;

  .testimonials__text {
    font-family: $font-poppins;
    text-align: center;
    margin-bottom: 2rem;

    p {
      @include paragraph($color: map-get($typography-colors, 'blue'));
      margin-bottom: 40px;
    }
    h3 {
      font-size: 23px;
      font-weight: 700;
    }
  }
}
.swiper__container {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .testimonial {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    font-size: $size-xs;
    font-family: $font-poppins;
    color: map-get($map: $typography-colors, $key: 'gray');
    margin-bottom: 2.3rem;
  }
}

.testimonial__name {
  margin-top: 1rem;

  .testimonial__fullname {
    font-size: 16px;
    font-weight: 700;
    color: map-get($map: $typography-colors, $key: 'black');
  }
}
