:root{
  --primary-color-scooter: #3FB6D6,
  --primary-color-blue-ribbon: #0D6EFD
  --neutral-white: #FFFFFF,
  --neutral-black: #000000
  --font-sans: 'Open Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}