:root {
  --primary-color-scooter: #3fb6d6;
  --primary-color-blue-ribbon: #0d6efd;
  --neutral-white: #ffffff;
  --neutral-black: black;
  --font-sans: 'Open Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

.App {
  width: 100vw;
  height: 100%;
}
