$primary-color-scooter: rgba(63, 182, 214);
$primary-color-blue-ribbon: #0450c0;
$neutral-white: #ffffff;
$primary-red: rgb(190 18 60);
$neutral-black: black;
$font-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
